<% include header %>

<!-- title with concept ––––––––––––––––––––––––––––––––– -->
<section class="header">
  <h2 class="title">ma<strong>&#1064;</strong>ine <br>ar<strong>X</strong>iv</h2>
  <div class="row" style="margin: 7rem">

    <div class="four columns">
      <img height=50 vspace="5" src='img/arxiv.png'><br>
      Explore simulations published on the arXiv. Reproduce results, change parameters interactively
    </div>

    <div class="four columns">
      <img height=50 vspace="5" src='img/chip.png'><br>
      Harness the power of parallel and asynchronous computing clusters from mobile devices
    </div>

    <div class="four columns">
      <img height=50 vspace="5" src='img/github.png'><br>
      Version track code and parameter landscapes. Motivate crowd sourced research
    </div>

  </div>
</section>

<% include navigation %>

<!-- overview description ———————————————————————————————————————— -->
<div class="docs-section" id="overview">
  <h6 class="docs-header">Overview</h6>
  <p>This portal serves as an archive and version tracking platform for simulations published during my scientific career. I hope this aids transparent peer review as well as provides an enjoyable exploration of the simulation itself.  <strong>- G. Szep</strong></p>
</div>

<% include library %>
<% include footer %>
