<% include header %>

<!-- title with concept ––––––––––––––––––––––––––––––––– -->
<section class="header">
  <h2 class="title">ma<strong>&#1064;</strong>ine <br>ar<strong>X</strong>iv</h2>
  <div class="row" style="margin: 7rem">

    <div class="four columns">
      <img height=50 vspace="5" src='img/arxiv.png'><br>
      Explore simulations published on the arXiv. Reproduce results, change parameters interactively
    </div>

    <div class="four columns">
      <img height=50 vspace="5" src='img/chip.png'><br>
      Harness the power of parallel and asynchronous computing clusters from mobile devices
    </div>

    <div class="four columns">
      <img height=50 vspace="5" src='img/github.png'><br>
      Version track code and parameter landscapes. Motivate crowd sourced research
    </div>

  </div>
</section>

<!-- navigation header ———————————————————————————————————————— -->
<div class="navbar-spacer"></div>
<nav class="navbar">

  <div class="container">
    <ul class="navbar-list">

      <li class="navbar-item">
        <a class="navbar-link" href="#overview">Overview</a>
      </li>

      <li class="navbar-item">
        <a class="navbar-link" href="#" data-popover="#library">Library</a>
        <div id="library" class="popover">
          <ul class="popover-list">

            <li class="popover-item">
              <a class="popover-link" href="#filament-ratchets">Ratchets</a>
            </li>

            <li class="popover-item">
              <a class="popover-link" href="#wildfires">Wildfire Data</a>
            </li>

          </ul>
        </div>
      </li>

    </ul>
  </div>

</nav>

<!-- overview description ———————————————————————————————————————— -->
<div class="docs-section" id="overview">
  <h6 class="docs-header">Overview</h6>
  <p>This portal serves as an archive and version tracking platform for simulations published during my scientific career. I hope this aids transparent peer review as well as provides an enjoyable exploration of the simulation itself.  <strong>- G. Szep</strong></p>
</div>

<!-- simulations ———————————————————————————————————————— -->
<div class="docs-section" id="library">
  <h6 class="docs-header">Library</h6>
  <div class="grid">

    <div id="filament-ratchets" style="top:-30px; position: relative;"></div>
    <div class="row">

      <div class="twelve columns">
        <a href="filamentRatchets" class="button">Filament Ratchets</a>
      </div><br><br>

        <p>Asynchronous <a target="_blank" href="https://en.wikipedia.org/wiki/Kinetic_Monte_Carlo">Kinetic Monte Carlo</a> investigation of filaments ratcheting against a one dimensional barrier. This simulation borrows ideas from <a target="_blank" href="https://arxiv.org/pdf/1204.1804.pdf">Extreme Field Statistics</a> and the motivations of in <a target="_blank" href="http://www.cytosim.org/">silico reconstitution</a>.</p>
        <p>Motivated by attempts to reproduce experimental observations in migrating cells, and determine the relation between <a target="_blank" href="http://dx.doi.org/10.1371/journal.pbio.1001765">nanoscale archtecture</a> and macroscopic <a target="_blank" href="https://doi.org/10.1016/j.cell.2015.11.057">force-velocity relations</a> of filamentous Actin near membranes.</p>

    </div>

    <div id="wildfires" style="top:-30px; position: relative;"></div>
    <div class="row">

      <div class="twelve columns">
        <a href="wildfires" class="button">Wildfire Data</a>
      </div><br><br>

        <p>Rare events and large deviations are the main focus of this article. <a target="_blank" href="http://www.pnas.org/content/102/13/4694.full">Wildfires in the USA</a> are a great example dataset to explore and analyse using <a target="_blank" href="">Extreme Value Statistics</a>, whos theory and application will be explored here.</p>

    </div>
  </div>
</div>

<% include footer %>
