<!-- simulations ———————————————————————————————————————— -->
<div class="docs-section" id="library">
  <h6 class="docs-header">Library</h6>
  <div class="grid">

    <div id="filament-ratchets" style="top:-30px; position: relative;"></div>
    <div class="row">

      <div class="twelve columns">
        <a href="filamentRatchets" class="button">Filament Ratchets</a>
      </div><br><br>

        <p>Asynchronous <a target="_blank" href="https://en.wikipedia.org/wiki/Kinetic_Monte_Carlo">Kinetic Monte Carlo</a> investigation of filaments ratcheting against a one dimensional barrier. This simulation borrows ideas from <a target="_blank" href="https://arxiv.org/pdf/1204.1804.pdf">Extreme Field Statistics</a> and the motivations of in <a target="_blank" href="http://www.cytosim.org/">silico reconstitution</a>.</p>
        <p>Motivated by attempts to reproduce experimental observations in migrating cells, and determine the relation between <a target="_blank" href="http://dx.doi.org/10.1371/journal.pbio.1001765">nanoscale archtecture</a> and macroscopic <a target="_blank" href="https://doi.org/10.1016/j.cell.2015.11.057">force-velocity relations</a> of filamentous Actin near membranes.</p>

    </div>

    <div id="wildfires" style="top:-30px; position: relative;"></div>
    <div class="row">

      <div class="twelve columns">
        <a href="wildfires" class="button">Wildfire Data</a>
      </div><br><br>

        <p>Rare events and large deviations are the main focus of this article. <a target="_blank" href="http://www.pnas.org/content/102/13/4694.full">Wildfires in the USA</a> are a great example dataset to explore and analyse using <a target="_blank" href="">Extreme Value Statistics</a>, whos theory and application will be explored here.</p>

    </div>
  </div>
</div>
