<div class="navbar-spacer"></div>
<nav class="navbar">

  <div class="container">
    <ul class="navbar-list">

      <li class="navbar-item">
        <a class="navbar-link" href="#overview">Overview</a>
      </li>

      <li class="navbar-item">
        <a class="navbar-link" href="#" data-popover="#library">Library</a>
        <div id="library" class="popover">
          <ul class="popover-list">

            <li class="popover-item">
              <a class="popover-link" href="#filament-ratchets">Ratchets</a>
            </li>

            <li class="popover-item">
              <a class="popover-link" href="#wildfires">Wildfire Data</a>
            </li>

          </ul>
        </div>
      </li>

    </ul>
  </div>

</nav>
