<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Ma&#1064;ine ArXiv</title>
  <meta name="description" content="MaSHine ArXiv">
  <meta name="author" content="G. Szep">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel='stylesheet' type='text/css' href='css/raleway.css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href='css/normalize.css'>
  <link rel="stylesheet" href='css/skeleton.css'>
  <link rel="stylesheet" href='css/custom.css'>

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src='js/jquery.min.js'></script>

  <!-- Openlayers
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src='js/ol-debug.js'></script>
  <script src='js/ol.js'></script>
  <link rel="stylesheet" href='css/ol.css'>

  <!-- dynamic documents
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src='js/d3.min.js'></script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href='img/favicon.png'>

</head>
<body>
<div class="container">
<div class="twelve columns" style="margin-top: 25%">
