<% include header %>

<h4>Wildfire Data</h4>
<p>
	Rare events and large deviations are the main focus of this article.
	<a target="_blank" href="http://www.pnas.org/content/102/13/4694.full">Wildfires in the USA</a>
	are a great example dataset to explore and analyse using
	<a target="_blank" href="">Extreme Value Statistics</a>,
	whos theory and application will be explored here.
</p>
<div id="map" class="map" style="background: #EEE; border-radius: 4px"></div>
<script src="mains/wildfires/main.js" type="module"></script>
<p>
</p>
<p>
	Rare events bla bla
</p>
<svg></svg>

<% include footer %>
