<% include header %>

<script src="mains/wildfires/data/import.js"></script>
<h4>Wildfire Data</h4>
<p>
	Rare events and large deviations are the main focus of this article.
	<a target="_blank" href="http://www.pnas.org/content/102/13/4694.full">Wildfires in the USA</a>
	are a great example dataset to explore and analyse using
	<a target="_blank" href="">Extreme Value Statistics</a>,
	whos theory and application will be explored here.
</p>
<div id="figure1" class="map"></div>
<script src="mains/wildfires/figures/figure1.js" type="module"></script>
<p>
</p>
<p>
	here be the cumilative
</p>
<svg id="figure2" width="500" height="500" style="display: block; margin: auto"></svg>
<script src="mains/wildfires/figures/figure2.js" type="module"></script>
<p>
	here be the pdf
</p>
<svg id="figure3" width="500" height="500" style="display: block; margin: auto"></svg>
<script src="mains/wildfires/figures/figure3.js" type="module"></script>
<p>
	here be the fire
</p>
<canvas id="figure4" width="500" height="500" style="display: block; margin: auto"></canvas>
<script src="mains/wildfires/figures/figure4.js" type="module"></script>
<p>
	wqqefwfeq
</p>

<% include footer %>
