<% include header %>

<h4>Wildfire Data</h4>
<p>
	Rare events and large deviations are the main focus of this article.
	<a target="_blank" href="http://www.pnas.org/content/102/13/4694.full">Wildfires in the USA</a>
	are a great example dataset to explore and analyse using
	<a target="_blank" href="">Extreme Value Statistics</a>,
	whos theory and application will be explored here.
</p>
<div id="figure1" class="map"></div>
<script src="mains/wildfires/figures/figure1.js" type="module"></script>
<p>
</p>
<p>
	Rare events bla bla
</p>

<!-- /*<style> /* set the CSS */

body { font: 12px Arial;}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

</style>*/ -->
<svg id="figure2" width="500" height="250"></svg>
<script src="mains/wildfires/figures/figure2.js" type="module"></script>

<% include footer %>
